* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#nav_section {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #F3E4E2;
}

#nav_section h3 {
    color: #97383E;
    flex-grow: 11;
    text-align: center;
}

#nav_section img {
    display: block;
    width: 20px;
    height: 15px;
    align-items: end;
}

/* Navbar */
nav {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
}

.logo_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    display: block;
    width: 150px;
    height: 26px;
    object-fit: contain;
    margin: 5px;
}

#quiz {
    display: block;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #925754;
    border: 2px solid #925754;
    padding: 10px 20px;
}

ul {
    flex-grow: 10;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    padding: 5px 10px;
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    color: #A1A1A1;
    text-transform: uppercase;
    font-weight: 600;
}

ul li a:hover {
    border-bottom: 1px solid #A1A1A1;
    transition: border-bottom, 0.3s;
}

.icons {
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
    align-items: center;
    
}

i {
    font-size: 16px;
    cursor: pointer;
}

/* Header */
header {
    width: 100%;
    height: 500px;
    background-image: url("./images/Main.png");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 60px;
}

header .main_headings {
    width: 45%;
}

header .main_headings h1 {
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    line-height: 1.3;
}

header .main_headings h4 {
    text-transform: uppercase;
    color: #858585;
    line-height: 1.4;
    margin: 10px 0;
}

header .main_headings button {
    padding: 10px 20px;
    text-transform: uppercase;
}

header .shop_btn {
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to right, #EBBF7C, #CE9846, #EBBF7C);
    border-color: transparent;
    margin: 0 5px;
    cursor: pointer;
}

header .quiz_btn {
    text-transform: uppercase;
    color: #CB374F;
    border: 2px solid #CB374F;
    margin: 0 5px;
    cursor: pointer;
}

/* Usage */

#usage {
    padding: 30px 0;
}

#usage .motto {
    text-transform: uppercase;
    color: #B1B1B1;
    text-align: center;
    font-size: 14px;
}

#usage .logo {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#usage .logo div {
    padding: 10px 20px;
}

#usage .logo img {
    width: 100%;
    object-fit: contain;
}

#usage .service_details {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

#usage .service_details div {
    width: 40%;
}

#usage .service_details img {
    width: 100%;
}

#usage .service_details h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
}

#usage .service_details h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #585C5C;
    line-height: 1.5;
    margin: 15px 0;
}

#usage .service_details p {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    text-align: justify;
}

#usage .service_details button {
    padding: 10px 20px;
    color: #925754;
    text-transform: uppercase;
    border: 2px solid #925754;
    margin: 15px 0;
    background-color: transparent;
    cursor: pointer;
}

#usage .service_details button:hover {
    background-color: #925754;
    color: #fff;
    transition: all .5s;
}

/* Description */

.description {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description > div {
    width: 80%;
    padding: 50px;
}

.description div, h3, p {
    text-align: center;
}

.description > div h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #925754;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 10px;
}

.description > div p {
    color: #925754;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    line-height: 1.4;
}
